@font-face {
  font-family: "Ferry";
  src:
    local("Ferry"),
    url("./style/Ferry/ferry_black.otf") format("opentype");
}

html, body {
  /* height: 100%; */
  margin: auto;
}

.center {
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  
  
  position: absolute;
  bottom: 24px;
  left: 40px;
  /* text-align: center; */

}

.common-grid-container {
  min-width: 1440px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 96px auto 137px;
}

.header {
  /* border: 2px solid blue; */

  display: grid;
  grid-template-columns: 42% auto 42%;
}

/* .main {
  border: 2px solid green;
} */

/* .footer {
  border: 2px solid grey;
} */

.header-one {
  /* border: 2px solid red; */
  padding-left: 90px;
}

.header-two {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;
  size: 14px;
}

.header-two a {
  text-decoration: none;
  color: inherit;
}

.header-three {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Inter', sans-serif;
  
}

.header-three-reg {
  margin-right: 18px;
  font-weight: 400;
}

.header-three-img {
  margin-right: 20px;
}

.header-three-enter {
  margin-right: 90px;
  font-weight: 500;
  background-color: #7CE3E1;
  border-radius: 5px; 
  padding: 4px 10px 5px 12px;
}

.header-three a {
  text-decoration: none;
  color: inherit;
}

.section {
  margin: auto;
  margin-top: 24px;
  margin-bottom: 109px;
  width: 1320px;
  height: 620px;

  

  position: relative;
  display: flex;
}

.section-title {
  width: 743px;
  height: 288px;
  
  color: #000;
  font-family: Ferry;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.6px;

  position: absolute;
  top: 45px;
  left: 0px;
}

.section-description {
  height: 48px;
  width: 534px;

  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;

  position: absolute;
  top: 353px;
  left: 0px;
}

.section-button {
  width: 335px;
  height: 59px;
  flex-shrink: 0;

  text-align: center;
  line-height: 59px;

  color: #FFF;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.22px;

  border-radius: 5px;
  background: #5970FF;

  position: absolute;
  top: 471px;
  left: 0px;
}

.section-img {
  width: 629px;
  height: 593px;

  position: absolute;
  top: 0px;
  right: 0px;

  z-index: -1;
}

.section-img-rectWhite {
  width: 69px;
  height: 73px;

  position: absolute;
  top: 0px;
  right: 20px;
}

.Group_2 {
  /* border: 2px solid green; */
  width: 1346px;
  height: 349px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 225px;
  grid-template-areas:
    "Group_21"
    "Group_22"
  ;
}

.Group_21 {
  /* border: 2px solid red; */
  font-size: 45px;
  font-weight: 900;
  margin: 0px;
  font-family: 'Ferry';
}

.Group_22 {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 39px auto 39px;
  grid-template-areas:
    "Group_21"
  ;
}

.Group_221 {
  /* border: 2px solid red; */
  align-self: center;
  cursor: pointer;
}

.Group_222 {
  /* border: 2px solid red; */
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Group_222n {
  /* border: 2px solid black; */
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);

  width: 400px;
  height: 225px;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
  >img {
    padding-left: 20px;
    padding-top: 30px;
  }
  >div {
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.Group_223 {
  /* border: 2px solid red; */
  align-self: center;
  cursor: pointer;
}

.Group_3 {
  /* border: 2px solid green; */
  width: 1307px;
  height: 576px;
  margin: auto;
  margin-top: 70px;
}
